<div data-requirement="length" class="flex items-center space-x-2">
    <i class="fas fa-times-circle" style="color: #EF4444"></i>
    <span>En az 6 karakter</span>
</div>
<div data-requirement="uppercase" class="flex items-center space-x-2">
    <i class="fas fa-times-circle" style="color: #EF4444"></i>
    <span>En az 1 büyük harf</span>
</div>
<div data-requirement="lowercase" class="flex items-center space-x-2">
    <i class="fas fa-times-circle" style="color: #EF4444"></i>
    <span>En az 1 küçük harf</span>
</div>
<div data-requirement="number" class="flex items-center space-x-2">
    <i class="fas fa-times-circle" style="color: #EF4444"></i>
    <span>En az 1 sayı</span>
</div>
<div data-requirement="special" class="flex items-center space-x-2">
    <i class="fas fa-times-circle" style="color: #EF4444"></i>
    <span>En az 1 özel karakter (!&#64;&#35;$.%^&amp;*)</span>
</div>
<div data-requirement="match" class="flex items-center space-x-2">
    <i class="fas fa-times-circle" style="color: #EF4444"></i>
    <span>Şifreler eşleşmeli</span>
</div> 